@import "../../../variables";

.close-icon {
  position: fixed;
  bottom: -6px;
  right: -4px;
  cursor: pointer;
  transform: scale(0);
}

@media only screen and (max-width: 600px) {
  .close-icon {
    position: absolute;
    margin-top: 10px;
    top: 0;
    right: 0;
    bottom: auto;
    cursor: pointer;
    transform: scale(0);
  }
}