@import "../../../variables";

.launch-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transform: scale(0);
}

@media only screen and (max-width: 600px) {
  .launch-icon {
    margin: $separator 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    cursor: pointer;
    transform: scale(0);
  }
}